{% extends 'base.html' %} {% block content %}

<nav class="bg-gray-800 text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
        <a class="text-2xl font-semibold" href="#">Dekatria Mart Warehouse</a>
        <form class="mr-4 flex items-center">
            <input
                class="px-3 py-2 bg-gray-900 text-white focus:outline-none rounded-l-lg"
                type="search"
                placeholder="Search"
                aria-label="Search"
            />
            <button
                class="px-4 py-2 bg-blue-600 hover:bg-blue-700 text-white rounded-r-lg"
                type="submit"
            >
                Search
            </button>
        </form>
        <span class="mr-4">Sesi terakhir login: {{ last_login }}</span>
        <div class="relative group">
            <button
                class="text-lg font-semibold text-white flex items-center focus:outline-none group-hover:text-blue-500"
                id="userMenuButton"
            >
                Welcome, {{user.name}}
                <svg
                    class="w-2.5 h-2.5 ml-2.5"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 10 6"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="m1 1 4 4 4-4"
                    />
                </svg>
            </button>
            <div
                class="opacity-0 invisible transition-opacity duration-300 transform translate-y-2 absolute right-0 bg-white border rounded-lg w-48 py-2 z-10"
                id="userMenu"
            >
                <ul>
                    <li>
                        <a
                            class="block px-4 py-2 hover:bg-gray-200 text-black"
                            href="#"
                            >Profile</a
                        >
                    </li>
                    <li>
                        <a
                            class="block px-4 py-2 hover:bg-gray-200 text-red-700"
                            href="{% url 'main:logout' %}"
                            >Logout</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="flex w-screen flex-col max-w-6xl mx-auto mt-8 px-4">
    <h1 class="text-3xl font-semibold mb-4">List of Products</h1>

    <h4
        id="totalItem"
        class="text-xl font-semibold mb-4"
        data-count="{{ items.count }}"
    >
        Kamu menyimpan {{items.count}} item pada aplikasi ini
    </h4>

    <div
        id="addItem"
        class="hidden fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-gray-100 w-1/2"
    >
        <div class="bg-white p-8 rounded shadow-lg w-full">
            <h1 class="text-2xl font-semibold text-center mb-6">
                Add New Item
            </h1>

            <form id="form" onsubmit="return false;">
                {% csrf_token %}
                <div class="mb-4">
                    <label
                        for="name"
                        class="block text-sm font-medium text-gray-700 mb-1"
                        >Name:</label
                    >
                    <input
                        type="text"
                        name="name"
                        id="name"
                        placeholder="Enter item name"
                        class="form-input w-full px-4 py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:outline-none focus:ring focus:ring-blue-200 transition duration-200"
                    />
                </div>

                <div class="mb-4">
                    <label
                        for="amount"
                        class="block text-sm font-medium text-gray-700 mb-1"
                        >Amount:</label
                    >
                    <input
                        type="text"
                        name="amount"
                        id="amount"
                        placeholder="Enter amount"
                        class="form-input w-full px-4 py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:outline-none focus:ring focus:ring-blue-200 transition duration-200"
                    />
                </div>

                <div class="mb-4">
                    <label
                        for="description"
                        class="block text-sm font-medium text-gray-700 mb-1"
                        >Description:</label
                    >
                    <textarea
                        name="description"
                        id="description"
                        placeholder="Enter item description"
                        rows="4"
                        class="form-textarea w-full px-4 py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:outline-none focus:ring focus:ring-blue-200 transition duration-200"
                    ></textarea>
                </div>

                <div class="mb-6">
                    <label
                        for="price"
                        class="block text-sm font-medium text-gray-700 mb-1"
                        >Price:</label
                    >
                    <input
                        type="text"
                        name="price"
                        id="price"
                        placeholder="Enter price"
                        class="form-input w-full px-4 py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:outline-none focus:ring focus:ring-blue-200 transition duration-200"
                    />
                </div>

                <div class="text-center">
                    <button
                        type="button"
                        onclick="closePopUp('addItem')"
                        class="bg-gray-500 hover:bg-gray-700 text-white font-semibold py-2 px-4 rounded-full transition duration-200 mt-4"
                    >
                        Cancel
                    </button>
                    <button
                        onclick="addItem()"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-full transition duration-200"
                    >
                        Add Item
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div
        id="editItem"
        class="hidden fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-gray-100 w-1/2"
    >
        <div class="bg-white p-8 rounded shadow-lg w-full">
            <h1 class="text-2xl font-semibold text-center mb-6">Edit Item</h1>

            <form id="editForm" onsubmit="return false;">
                {% csrf_token %}
                <div class="mb-4">
                    <label
                        for="name"
                        class="block text-sm font-medium text-gray-700 mb-1"
                        >Name:</label
                    >
                    <input
                        type="text"
                        name="name"
                        id="nameEdit"
                        placeholder="Enter item name"
                        class="form-input w-full px-4 py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:outline-none focus:ring focus:ring-blue-200 transition duration-200"
                    />
                </div>

                <div class="mb-4">
                    <label
                        for="amount"
                        class="block text-sm font-medium text-gray-700 mb-1"
                        >Amount:</label
                    >
                    <input
                        type="text"
                        name="amount"
                        id="amountEdit"
                        placeholder="Enter amount"
                        class="form-input w-full px-4 py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:outline-none focus:ring focus:ring-blue-200 transition duration-200"
                    />
                </div>

                <div class="mb-4">
                    <label
                        for="description"
                        class="block text-sm font-medium text-gray-700 mb-1"
                        >Description:</label
                    >
                    <textarea
                        name="description"
                        id="descriptionEdit"
                        placeholder="Enter item description"
                        rows="4"
                        class="form-textarea w-full px-4 py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:outline-none focus:ring focus:ring-blue-200 transition duration-200"
                    ></textarea>
                </div>

                <div class="mb-6">
                    <label
                        for="price"
                        class="block text-sm font-medium text-gray-700 mb-1"
                        >Price:</label
                    >
                    <input
                        type="text"
                        name="price"
                        id="priceEdit"
                        placeholder="Enter price"
                        class="form-input w-full px-4 py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:outline-none focus:ring focus:ring-blue-200 transition duration-200"
                    />
                </div>

                <div class="text-center">
                    <button
                        id="editClose"
                        class="bg-gray-500 hover:bg-gray-700 text-white font-semibold py-2 px-4 rounded-full transition duration-200 mt-4"
                    >
                        Cancel
                    </button>
                    <button
                        id="editButton"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-full transition duration-200"
                    >
                        Edit Item
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div
        id="deleteConfirmation"
        class="hidden fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-gray-100"
    >
        <div class="bg-white p-8 rounded shadow-lg w-full">
            <h1 class="text-2xl font-semibold text-center mb-6">
                Confirm Deletion
            </h1>

            <form id="deleteItemForm" method="POST" action="">
                {% csrf_token %}
                <p id="deleteConfirmationText" class="mb-4"></p>

                <div class="text-center">
                    <button
                        id="deleteClose"
                        class="bg-gray-500 hover:bg-gray-700 text-white font-semibold py-2 px-4 rounded-full transition duration-200 mt-4"
                    >
                        Cancel
                    </button>
                    <button
                        id="deleteButton"
                        class="bg-red-500 hover:bg-red-700 text-white font-semibold py-2 px-4 rounded-full transition duration-200 mt-4"
                    >
                        Confirm
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div id="product_container" class="flex flex-wrap -m-4"></div>

    <div class="fixed bottom-8 right-8">
        <button
            class="bg-green-600 hover:bg-green-800 text-white font-semibold py-2 px-4 rounded-full inline-block border-2 border-green-900"
            onclick="showAddItem()"
        >
            Add New Item
        </button>
    </div>
</div>

{% endblock content %}
